/*Main Style*/

body {
    margin: 0;
    font-family: sans-serif, Arial, Helvetica,;
    background: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}
img {
    display: block;
    width: 100%;
    text-align: center;
}
h1,h2,h3 {
    margin: 0;
    padding: 1em 0;
	text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.80);
}
.card-title,
.content-title{
    font-size: 1.6em;
    padding-bottom: 0;
    /*border-bottom: 3px solid rgb(137, 9, 9);*/
}
.hamburger-a{
    width:30px;
    height: 5px;
    position:fixed;
    top: 5vh;
    right:15px;
    border-bottom: 3px solid rgb(0, 0, 0);
    border-top: 3px solid rgb(0, 0, 0);
    z-index: 1000;
    cursor: pointer;
}
/*---------------------Nav Bar*/
#logo{
    position: absolute;
    width: 20%;
    top:10%;
    left:5%;
}
#logo img{
    max-height:10vh;
    max-width: 5vh;
}
.nav-a{
    width:100%;
    background-color: rgba(255, 255, 255, 0.95);
    position:fixed;
    margin:0;
    padding:0;
    text-align: center;
    text-shadow: 0 1px 3px #ccc;
    display: flex;
    flex-flow: column;
    z-index: 999;
    visibility:hidden;
}
.nav-a ul{
    list-style: none;
}
.nav-a ul a{
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}
.nav-a ul a li{
    padding: 5px;
}
.nav-a ul a li:hover{
    text-shadow: 3px 5px 5px #ccc;
}
/*--------------Navbar ----social media icons*/
.fab{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.3em;
    transition: color 0.1s ease-out;
}

.social-media ul{
}
.social-media ul li{
    display:inline;
    margin: 0 2%;
}
.fa-twitter:hover{
    color:#1DA1F3;
}
.fa-facebook-f:hover{
    color:#3B5999;
}
.fa-linkedin-in:hover{
    color:#0077B4;
}
.fa-github:hover{
    color:#323031;
}

/*--------------------------Header Showcase */

#showcase {
    min-height: 450px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

#showcase .bg-image {
    position: absolute;
    background: #333 url('img/bcg_19.jpg') center center / cover no-repeat;
    overflow: hidden;
    animation: bg 30s linear infinite alternate;
    max-width: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
}    
#showcase h1,
#showcase p{
    font-size: 2em;
    color: rgba(0, 0, 0, 0.65);
    text-shadow: 2px 8px 10px rgba(0, 0, 0, 0.46);
    text-align: left;
    margin-left: 5%;
}
#showcase h1{
    padding-top: 0 1.5em;
    padding-bottom: 0;
    font-size: 4em;
}

#showcase p{
    color: rgb(137, 9, 9);
}
/*-------------------------Animation showcase property*/
@keyframes bg{
    0%{
        transform: scale(1.25);
        transform-origin: center top;
    }
    100%{
        transform: scale(1);
        transform-origin: center top;
    }
}
/*-------------------------------Sekcja A*/

#section-a{
    color: #333;
    padding-bottom: 2em;
    padding: 2em 1em 1em;
    font-style: italic;
}

/*---------------------------------Sekcja B*/

#section-b {
    text-align: left;
    padding: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

.card-content {
  padding: 1.5em;
}

/* -------------------------Sekcja C */

#section-c {
  background: #fff;
  color: #333;
  padding: 2em;
}
#section-c a{
    text-decoration: none;
    color:grey;
}

/* ---------------------------Sekcja D / Boxes */

#section-d .box {
  padding: 2em;
  color: #000;
}

#section-d .box:first-child {
    background: #2690d4;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
#section-d .box:first-child h1,
#section-d .box:first-child p{
    width: auto;
}

/* -------------------Footer */

#main-footer {
  padding: 2em;
  background: #000;
  color: #fff;
  text-align: center;
}

#main-footer a {
  color: #2690d4;
  text-decoration: none;
}


/*---------------Media Responsive*/

@media (min-width: 700px) {
    p,h1,h2,h3{
        font-size: 120%;
    }
    body{
        margin-top: 10vh;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
    #showcase{
        height: 90vh;
        text-align: left;
        z-index: -1;
        justify-content: center;
    }
    #section-a .content-text {
        columns: 1;
        column-gap: 2em;
    }
    #section-a .content-text p {
        padding-top: 0;
    }
    .content-wrap,
    #section-b ul{
        grid-column: 1/5;
    }
    #section-b li{
        background-color: rgb(219, 219, 219);
    }
    .box,
    #main-footer div {
        grid-column: span 2;
    }
    #main-footer div{
        grid-column: 2/4;
    }
    #section-b ul {
        display: flex;
        justify-content: space-around;
    }
    #section-b li {
        width: 30%;
    }
    #section-d .box,
    #section-c{
        text-align: left;
    }
    #section-d .box h2,
    #section-d .box p,
    #section-c h2,
    #section-c p{
        margin-left: 5%;
    }
    /*---------------------Nav Bar RESP*/
    .nav-a{
        
        width:100%;
        visibility: visible;
        top:0;
        height: 10vh;
        flex-flow: row;
        justify-content: space-between;
        visibility:visible;
    }
    .nav-a ul{
        display: flex;
    }
    .nav-a ul a{
        font-size: 1.6rem;
    }
    .nav-a ul li{
        margin: 0 20px;
    }
    #logo{
        position: relative;
        align-self: center;
        top:0;
    }
    #logo img{
        max-height:10vh;
        max-width: 5vh;
    }
    .hamburger-a{
        visibility: hidden;
    }
}